@media (max-width:1366px){
    .background{
        width: 1366px;
    }
    .text-section-container{
        width: 1366px;
        margin-left: 20px;
        flex-wrap: nowrap;
    }
    .about{
        width: 500px;
    }
    .map{
        width: 600px;
    }
    .explore{
        margin-left: 80px;
    }
    .div-container{
        width:1200px;
        margin-left: -200px;
    }
    .div-directions{
        width: 250px;
        justify-content: space-between;
    }
    .slider-header{
        margin-left: 580px;
    }
    .center-slider{
        width: 100%;
    }
    .top-left-div h3{
        margin-left: 130px;
    }
    .top-div{
        width: 1366px;
    }
    .bottom-div{
        width: 1366px;
    }
    .rights{
        margin-left: 320px;
    }
    .social-links{
        margin-left: 350px;
    }
    .slider{
        width: 1250px;
        margin-left: 40px;
    }
}


@media(max-width:1024px){
    /* .background{
     width: 1366px;
    } */
}






