@media (max-width:1366px){
    .background{
        width: 1366px;
    }
    .text-section-container{
        width: 1366px;
        margin-left: 20px;
        flex-wrap: nowrap;
    }
    .about{
        width: 500px;
    }
    .map{
        width: 600px;
    }
    .explore{
        margin-left: 80px;
    }
    .div-container{
        width:1200px;
        margin-left: -200px;
    }
    .div-directions{
        width: 250px;
        justify-content: space-between;
    }
    .slider-header{
        margin-left: 580px;
    }
    .center-slider{
        width: 100%;
    }
    .top-left-div h3{
        margin-left: 130px;
    }
    .top-div{
        width: 1366px;
    }
    .bottom-div{
        width: 1366px;
    }
    .rights{
        margin-left: 320px;
    }
    .social-links{
        margin-left: 350px;
    }
    .slider{
        width: 1250px;
        margin-left: 40px;
    }
}


@media(max-width:1024px){
    .header-div{
        width: 1124px;
    }
    .background{
     width: 1024px;
    }
    .text-section-container{
        margin-left: -50px;
    }
    .about{
        width: 400px;
    }
    .map{
        height: 400px;
        width: 480px;
    }
    .kheta::after{
        content: "";
        background-color: rgb(31, 41, 31);
        width: 120px;
        height: 1px;
        margin:15px 190px 30px;
        display: none;
        }
    .directions{
        width: 1024px;
    }
    .top-div{
        max-width: 1024px;
        width: 100%;
    }
    .div-container{
        flex-wrap: wrap;
        width: 1024px;
        height: 1000px;
    }
    .explore{
        margin-left: -400px;
    }
    .church-paragraph-div{
        margin-left: 100px;
    }
    .museum-paragraph-div{
        margin-left: 100px;
    }
    .lake-paragraph-div{
        margin-left:100px;
    }
    .fortress-paragraph-div{
        margin-left: 100px;
    }
    .slider-header{
        margin-top: 700px;
        margin-left: 350px;
    }
    .div-directions{
        width: 500px;
    }
    .slider{ 
        width: 900px;
    }
    .top-div{
        width: 1024px;
    }
    .top-left-div{
        margin-left: 70px;
    }
    .top-left-div h3{
        margin-left: 150px;
    }
    .top-right-div{
        margin-left: -80px;
    }
    .bottom-div{
        width: 1024px;
    }
    .rights{
        margin-left: 170px;
    }
    .social-links{
        margin-left: 210px;
    }
}






